---

---
@import "minimal-mistakes";


/* Custom styles - ultra specific */
.sidebar .author__urls-wrapper .author__urls li a[href="#"],
ul.author__urls li a[href="#"] {
  text-decoration: none !important;
  cursor: default !important;
  pointer-events: none !important;
  border-bottom: none !important;
}

.sidebar .author__urls-wrapper .author__urls li a[href="#"]:hover,
ul.author__urls li a[href="#"]:hover {
  text-decoration: none !important;
  border-bottom: none !important;
}